
<page-header 
  *ngIf="product$ | async as product; else showNewProduct"
  size="large" text-align="center">
  Manage Product: {{ product.title }}
</page-header>



<ng-template #showNewProduct>
    <page-header 
      size="large" text-align="center">
      New Product
    </page-header>
</ng-template>

<hr/>

<div class="container">
  <div class="row">
    
    <!-- Product Form. -->
    <div class="col-12">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="form">
              <div class="form-group">
                <label for="title">Title</label>
                <input formControlName="title" type="text" class="form-control" name="title">
              </div>
              <div class="form-group">
                <label for="category">Category</label>
                <input formControlName="category" type="text" class="form-control" name="category">
              </div>
              <div class="form-group">
                <label for="price">Price</label>
                <input formControlName="price" type="text" class="form-control" name="price">
              </div>
              <div class="form-group">
                <label for="imageUrl">ImageUrl</label>
                <input formControlName="imageUrl" type="text" class="form-control" name="imageUrl">
              </div>
            </form>
          </div>
        </div>

        <div class="card">
            <img class="card-img-top" [src]="form.value.imageUrl" alt="Product Image">
            <div class="card-body">
              <h5 class="card-title">{{ form.value.title }}</h5>
              <p class="card-text">
                Category: {{ form.value.category }}
                <br/>
                Price: {{ form.value.price }}
              </p>
            </div>
          </div>
      </div>

    </div>
  </div>

  <div class="row">
      <div class="col-12">
        <hr/>
        <button 
          class="btn btn-primary btn-sm"
          (click)="saveProduct ()">Save</button>        
        <hr/>
      </div>
    </div>
</div>
<hr/>